
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <div class="container">
        <div class="navbar-header">
          <cuppa-slidemenu [menulist]="menuItemsArray" (open)="onMenuOpen()" (close)="onMenuClose()" (onItemSelect)="onItemSelect($event)"></cuppa-slidemenu>
        </div>
      </div>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="/main">PCPart</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul *ngIf="!auth.isLoggedIn()" class="nav navbar-nav navbar-right">
       <a class="nav-link" routerLink="/login">Login</a>
       <a class="nav-link" routerLink="/register">Register</a>
      </ul>
      <ul *ngIf="auth.isLoggedIn()" class="nav navbar-nav navbar-right">
        <a class="nav-link" routerLink="/profile">Profile</a>
        <a class="nav-link" [routerLink]="['/login']">Logout</a>
        <a class="nav-link" routerLink="/form">Create Sale</a>
      </ul>
      <ul class="navbar-nav">


        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard">All Sales</a>
        </li>

      </ul>
    </div>
  </nav>



