.nav {
    background-color: #0275d8;
    height: 50px;
}

.navbar-light .navbar-nav .nav-link {
    color:black;
}
.logo{
  font-weight:normal;
  text-transform:uppercase;
  color:#ffffff;
  letter-spacing:4pt;
  word-spacing:10pt;
  font-size:54px;
  text-align:center;
  font-family:arial, helvetica, sans-serif;
  background-color: black;
}