<div class="w3-large w3-text-grey menu" style="font-weight:bold">
    <ul>
        <button (click)="goBack()" class="btn btn-primary backButton">Back</button>
    </ul>
    <ul>
        <div class="row">
            <a class="w3-bar-item w3-button" routerLink="/">Home</a>
        </div>
        <div class="row">
            <a class="w3-bar-item w3-button" routerLink="/dashboard">All Sales</a>
        </div>
    </ul>
    <ul *ngIf="!auth.isLoggedIn()">
        <div class="row">
            <a class="w3-bar-item w3-button" routerLink="/login">Login</a>
        </div>
        <div class="row">
            <a class="w3-bar-item w3-button" routerLink="/register">Register</a>
        </div>
    </ul>
    <ul *ngIf="auth.isLoggedIn()">
        <div class="row">
            <a class="w3-bar-item w3-button" [routerLink]="['/login']">Logout</a>
        </div>
        <div class="row">
            <a class="w3-bar-item w3-button" routerLink="/profile">Profile</a>
        </div>
        <div class="row">
            <a class="w3-bar-item w3-button" routerLink="/form">Create Sale</a>
        </div>
        
        <div class="row">
            <a class="w3-bar-item w3-button" routerLink="/message/all">All Messages</a>
        </div>
    </ul>
</div>