<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Most recent pcparts</h3>
  </div>
  <div class="panel-body">
    <div class="row">

      <div *ngFor="let pcpart of mostRecentPCParts; let i = index" class="col-sm-6 col-md-4">

        <div class="thumbnail equal-height">
          <img *ngIf="pcpart.poster_path" class="thumbnail" src="http://image.tmdb.org/t/p/w500/{{pcpart.poster_path}}">
          <div class="caption">
            <h3>{{pcpart.title}}</h3>
            <p>{{pcpart.overview.slice(0,150)}}...</p>
            <p>
              <button href="#" class="btn btn-primary" role="button" routerLink="/pcpart/{{pcpart.id}}">View Details</button>
              <button href="#" class="btn btn-default" role="button" routerLink="/reviews/{{pcpart.id}}/add-review" [disabled]="!auth.isLoggedIn()">Write a Review</button></p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
