.container{
  margin-left: 20%;
}

.item{
  height: 100%;
  border-style: solid;
  border-color: #ddddee;
  border-width: 4px;
}

img {
    margin-top:10px;
    margin-left: 8px;
    margin-right: 8px;
    max-width: 100%;
    max-height: 100%;
    min-width:0%;
    min-height:0%;
}

.searchBar{
  position: relative;
}

.pageing{
  text-align: center;
  margin:2em;
}

.searchButton{
  margin-top: 10px;
  position: absolute;
  left: 1em;
}

.toggle{
  margin-top: 10px;
  position: absolute;
  right: 1em;
}

ul {
  list-style-type: none;
  padding-left: 0;

}

.listclass {
    display: inline-block;
    vertical-align: top;
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}

.thumbnail {
  height: 240px;
}

.divResize{
  height: 50%;
}

.page{
  margin-top: 5em;
  padding-left: 0;
}

.title {
    height: 60px;
}

button {
    margin: 4px;
    padding: 4px;
}

.postImage {
    padding: 2px;
    margin-bottom: 8px;
}

.offset-md-1{
  margin-left: 0;
}

.titleBox{
  height:60px;
  overflow:hidden;
}

.noteButton{
  width:30px;
}
#note{
  color:blue;
}