<div class="container">
  <div class="body">
    <pagination-controls (pageChange)="p = $event" class="pageing"></pagination-controls>
    <form (keyup.enter)="search(saleItem.value)">

      <div class="searchBar">
        <label for="saleItem">Search:</label>
        <input #saleItem type="text" class="form-control" id="saleItem">

        <button (click)="search(saleItem.value)" class="btn btn-primary">
        Search
        </button>
      </div>

    </form>

    <div class="grid grid-pad">
      <a *ngFor="let sale of sales | paginate: { itemsPerPage: 5, currentPage: p }" class="col-1-4 loopDisplay">
        <div class="module sale">
          <h4>Selling {{sale.category}} {{sale.item}} for {{sale.price}}.00</h4>
          <p>
            <button class="btn btn-primary detailButton" role="button" [routerLink]="['/detail', sale.id]">View Details</button>
            <button class="btn btn-primary" role="button">Write a Review</button>
          </p>
        </div>
        </a>
    </div>

  </div>
</div>
