<div class="row">
  <div class="col-xl-10 offset-xl-1 mb-4">
      <div class="row">
          <div class="col-lg-6 col-xs-12">
                <label for="saleItem">
                    Filter Posts:<button class="noteButton w3-button w3-circle w3-black"
                    data-toggle="collapse" data-target="#note">?</button>
                    <div id="note" class="collapse">
                        Filter by category, manufacturer, Buying, Selling
                    </div>
                </label>
              <input (keyup)="search()" [(ngModel)]="searchText" type="text" class="form-control" name="saleItem" id="saleItem">
          </div>
      </div>
      <div class="row toggle">
          <button class="grid-view" [routerLink]="['/dashboard']">Grid</button>
          <button class="list-view" [routerLink]="['/list']">List</button>
      </div>
      <div class="row">
          <div class="page col-4 offset-4">
              <pagination-controls (pageChange)="p = $event" class="pageing"></pagination-controls>
          </div>
      </div>
      <div class="row">
          <div class="col-xl-4 col-lg-6 pt-xl-3 pb-xl-3 pt-2 pb-2" *ngFor="let sale of shownSales | paginate: { itemsPerPage: 12, currentPage: p }">
              <div class="item">
                  <div class="col-md-10 offset-md-1 pt-md-1 pb-md-1">
                      <div class="row titleBox">
                          <h5 class="title">{{sale.title}}: {{sale.item}}</h5>
                      </div>
                      <div class="thumbnail postImage col-lg-12 img-responsive">
                          <img *ngIf="sale.images[0]" src="{{sale.images[0]}}">
                          <img *ngIf="!sale.images[0]" src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/device-computer-icon.png">
                      </div>
                      <ul>
                          <li>Selling {{sale.item}}</li>
                          <li>{{sale.manufacturer}} {{sale.category}}</li>
                          <li>${{sale.price}}</li>
                      </ul>
                      <div  class="row">
                          <button class="btn btn-default detailButton" role="button" [routerLink]="['/detail', sale.id]">I'm Interested</button>
                          <button class="btn btn-default detailButton" role="button" [routerLink]="['/detail', sale.id]">View Details</button>
                          <button class="btn btn-danger reportButton" role="button" [routerLink]="['/report', sale.id]">Report This Post</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="page col-4 offset-4">
              <pagination-controls (pageChange)="p = $event" class="pageing"></pagination-controls>
          </div>
      </div>
  </div>
</div>
