<div class="row">
<div class="col-md-4">
</div>
  <div class="col-md-8">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
    <form (keyup.enter)="search(saleItem.value)">

      <div class="col-lg-3">

        <label for="saleItem">Search:</label>
        <input #saleItem type="text" class="form-control" id="saleItem">

        <button (click)="search(saleItem.value)" class="btn btn-primary">
          Search
        </button>
      </div>

    </form>
    <h1>All the Sales</h1>

    <div class="grid grid-pad">
      <span *ngFor="let sale of sales | paginate: { itemsPerPage: 2, currentPage: p }">
      <a class="col-1-4 loopDisplay">
        <div class="module sale">
          <h4>Selling {{sale.category}} {{sale.item}} for {{sale.price}}.00</h4>
          <p>
            <button class="btn btn-primary detailButton" role="button" [routerLink]="['/detail', sale.id]">View Details</button>
            <button class="btn btn-primary" role="button">Write a Review</button>
          </p>
        </div>
        </a>
      </span>
    </div>
  </div>
</div>
