<div class="row">
<div class="col-md-4">
</div>
  <div class="col-md-8">
    <form (keyup.enter)="search(saleItem.value)">

      <div class="col-lg-3">

        <label for="saleItem">Search:</label>
        <input #saleItem type="text" class="form-control" id="saleItem">

        <button (click)="search(saleItem.value)" class="btn btn-primary">
          Search
        </button>
      </div>

    </form>
    <h1>All the Sales</h1>

    <div class="grid grid-pad" *ngFor="let sale of sales | paginate: { itemsPerPage: 5, currentPage: p }">
        <a class="col-1-4 loopDisplay">
          <div class="module sale">
            <h4>Selling {{sale.category}} {{sale.item}} for {{sale.price}}</h4>
            <p>
              <button class="btn btn-primary detailButton" role="button" [routerLink]="['/detail', sale.id]">View Details</button>
              <button class="btn btn-primary" role="button">Write a Review</button>
              <button class="btn btn-primary reportButton" role="button" [routerLink]="['/report', sale.id]">Report This Post</button>
            </p>
          </div>
        </a>
    </div>
  </div>
</div>
