<div *ngIf="sale" class="detailBody">
  <div class="panel panel-default panel-heading">
    <h2 class="panel-title">{{sale.title}}</h2>
  </div>
  <div class="panel-body">
      <ul class="list-group description">
        <li class="list-group-item">Item Name: {{sale.item}}</li>
        <li class="list-group-item">Category: {{sale.category}}</li>
        <li class="list-group-item">Manufacturer: {{sale.manufacturer}}</li>
        <li class="list-group-item">Quality: {{sale.quality}}</li>
        <li class="list-group-item">Price: {{sale.price}}</li>
        <li class="list-group-item">Location: {{sale.location}}</li>
        <li class="list-group-item">Description: {{sale.body}}</li>
      </ul>
  </div>
  <h2>Seller's contact information</h2>
  <div class="panel-body">
    <ul class="list-group description">
      <li class="list-group-item">Location: {{sale.location}}</li>
      <li class="list-group-item">Description: {{sale.body}}</li>
    </ul>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="map">
          <agm-map [latitude]="lat" [longitude]="lng">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
          </agm-map>
        </div>
      </div>
    </div>
  </div>
</div>
