<div *ngIf="sale" class="detailBody">
  <div class="panel panel-deafult panel-heading">
    <h2 class="panel-title">{{sale.item}}</h2>
  </div>
  <div class="panel-body">
      <ul class="list-group description">
        <li class="list-group-item">Category: {{sale.category}}</li>
        <li class="list-group-item">Manufacturer: {{sale.manufacturer}}</li>
        <li class="list-group-item">Quality: {{sale.quality}}</li>
        <li class="list-group-item">Price: {{sale.price}}.00</li>
        <li class="list-group-item">Location: {{sale.location}}</li>
        <li class="list-group-item">Description: {{sale.body}}</li>
      </ul>
  </div>
</div>
<button (click)="goBack()" class="btn btn-primary">Back</button>

