button.btn.btn-primary {
  margin-top: 10px;
}

.detailBody{
  width:30%;
  margin-left: 20%;
  position: relative;
}

.panel-body{
  margin:auto;
}

agm-map {
  height: 25em;
  width: 35em;
  margin: auto;
}

.container {
  position: absolute;
  left: 100%;
  top: 10%;
}

.list-group-item {

}
