<div *ngIf="sale" class="col-sm-6 col-md-4" style="margin-left: 20%; margin-top: 5%">
  <div class="panel panel-deafult panel-heading">
    <h2 class="panel-title">{{sale.item}} {{test}}</h2>
  </div>
  <div class="panel-body row col-md-7">
      <ul class="list-group description">
        <li class="list-group-item">Item Name: {{sale.item}}</li>
        <li class="list-group-item">Description: {{sale.body}}</li>
        <li class="list-group-item">Category: {{sale.category}}</li>
        <li class="list-group-item">Manufacturer: {{sale.manufacturer}}</li>
        <li class="list-group-item">Quality: {{sale.quality}}</li>
        <li class="list-group-item">Price: {{sale.price}}.00</li>
      </ul>
  </div>
  <h2>Seller's contact information</h2>
  <div class="panel-body row col-md-7">
    <ul class="list-group description">
      <li class="list-group-item">Location: {{sale.location}}</li>
    </ul>
    <ul>
      <li class="list-group-item">Description: {{sale.body}}</li>
    </ul>
  </div>
</div>
<br>
    <button (click)="goBack()" class="btn btn-primary">Back</button>
