<div class="col-lg-3">

<h2>Create Sales</h2>
  <label>Sale item:</label> <input #saleItem class="form-control"/>
<br>
  <label>Image URL:</label> <input #saleImg class="form-control"/>

  <label for="saleCat">Category: </label>
  <br>
  <select name="category" #saleCat class="btn btn-secondary dropdown-toggle">
    <option *ngFor="let each of category" [value]="each">{{each}}</option>
  </select>
<br>
  <label>Sale Price:</label> <input #salePrice class="form-control"/>
<br>
  <label for="saleQuality">Quality: </label>
  <br>
  <select name="quality" #saleQuality class="btn btn-secondary dropdown-toggle">
    <option *ngFor="let each of quality" [value]="each">{{each}}</option>
  </select>
<br>
  <label for="saleMan">Manufacturer: </label>
  <br>
  <select name="manufacturer" #saleMan class="btn btn-secondary dropdown-toggle">
    <option *ngFor="let each of manufacturers" [value]="each">{{each}}</option>
  </select>
<br>
  <br>

  <button (click)="add(saleItem.value, saleImg.value, saleCat.value,
  saleQuality.value, saleMan.value, salePrice.value)" class="btn btn-primary" routerLink="/dashboard">
    Add
  </button>

</div>
