.col-centered{
float: none;
margin: 0 auto;
}

.descriptionBox{
    height:200px;
}
div{
    padding:5px;
}

agm-map {
  height: 25em;
  width: 35em;
}

.thumbnail {
    padding-top: 240px;
    padding-left: 320px;
}
