<div *ngIf="currentUser" class="col-sm-6 col-md-4" style="margin-left: 20%">
  <div class="panel panel-deafult panel-heading">
    <h2 class="panel-title">User profile</h2>
  </div>

  <div class="panel-body">
    <ul class="list-group description">
      <li class="list-group-item">ID: {{currentUser.id}}</li>
      <li class="list-group-item">First Name: {{currentUser.first_name}}</li>
      <li class="list-group-item">Last Name: {{currentUser.last_name}}</li>
      <li class="list-group-item">Email: {{currentUser.email}}</li>
      <li class="list-group-item">Username: {{currentUser.username}}</li>
    </ul>
  </div>
</div>

<div class="options">
  <div class ="editbox">
    <h3>Edit Account?</h3>
    <Button type = "button" (click)="editUser(currentUser.id)" class="btn btn-primary">Edit</Button>
  </div>
  <div class ="deletebox">
    <h3>Delete Account?</h3>
    <Button type = "button" (click)="deleteUser(currentUser.id)" class="btn btn-danger">Delete</Button>
  </div>
</div>
