<div *ngIf="auth" class="col-sm-6 col-md-4" style="margin-left: 20%; margin-top: 5%">
  <div class="panel panel-deafult panel-heading">
    <h2 class="panel-title">User profile</h2>
  </div>
  <div class="panel-body row col-md-7">
    <ul class="list-group description">
      <li class="list-group-item">ID: {{auth.getID()}}</li>
      <li class="list-group-item">First Name: {{auth.getFirstName()}}</li>
      <li class="list-group-item">Last Name: {{auth.getLastName()}}</li>
      <li class="list-group-item">Email: {{auth.getEmail()}}</li>
      <li class="list-group-item">Username: {{auth.getUsername()}}</li>
    </ul>
  </div>

</div>
<h3>Delete Account?</h3>



<Button type = "button" (click)="deleteUser(currentUser.id)">Delete</Button>


<br>
<br>
<br>
<br>
<button (click)="goBack()">Back</button>
